@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

:root {
  --horizon-1-core: #2ecc71; /* Core survival - Stable Green */
  --horizon-2-emerging: #3498db; /* Growth paths - Explorer Blue */
  --horizon-3-visionary: #9b59b6; /* Future options - Visionary Purple */
  --chaos-warning: #e74c3c; /* For when goals exceed 6! */

  --palette-camouflage: #3b5948;
  --palette-stealth: #708c7a;
  --palette-weappon: #403c38;
  --palette-lunette: #f2f2f2;
  --palette-night-assault: #0d0d0d;
}

/* GLOBAL RULES */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--palette-lunette);
}

p {
  color: var(--palette-night-assault);
}

/* HEADER */
.main-header {
  width: 100%;
  max-height: 10vh;
  display: flex;
  align-items: center;
  background-color: var(--palette-stealth);
  padding: 0 2em;
}

.logo-container {
  display: flex;
  align-items: center;
}

.main-header .sp-logo {
  max-width: 44px;
  margin: 0 4px;
}

.logo-container p {
  color: var(--palette-lunette);
  font-size: 1.4rem;
}

/* FONTS */
.ms-madi-regular {
  font-family: 'Ms Madi', cursive;
  font-weight: 700;
  font-style: normal;
}
